annotated-types
anyio
asgiref
certifi
cffi
charset-normalizer
cryptography
deprecation
Django
exceptiongroup
gotrue
gunicorn
h11
httpcore
httpx
idna
packaging
postgrest
psycopg2-binary
pycparser
python-dateutil
python-dotenv
realtime
requests
six
sniffio
sqlparse
storage3
StrEnum
supabase
supafunc
typing_extensions
urllib3
websockets
