<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-2 border-bottom sticky-top ">
      <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#"/></svg>
        <span class="fs-4" style="color: blueviolet;" >Mpesa-Alias</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Home</a></li>
        {% if alias %}
        <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link">Login</a></li>
        {% endif %}
      </ul>
    </header>
  </div>

