{% extends "alias/layout.html" %}

{% block body %}


  <div class="container">
    <div class="container">
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">mpesa+</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Mpesa-Alias</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="{% url 'signout' %}" aria-label="options">logout
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter">
            <path d="m2 12 5 4v-3h9v-2H7V8z"></path><path d="M13.001 2.999a8.938 8.938 0 0 0-6.364 2.637L8.051 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051 2.051 3.08 2.051 4.95-.729 3.628-2.051 4.95-3.08 2.051-4.95 2.051-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637c1.7-1.699 2.637-3.959 2.637-6.364s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"></path></svg>
        </a>
      </div>
    </div>
  </header>
  

        <!--if on desktop, place all of them on the bar-->
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="btn btn-outline-primary" href="{% url 'createAliasForm' %}">Create Alias</a>
        <a class="btn btn-outline-primary" href="{% url 'sendForm' %}">send to alias</a>
        <a class="btn btn-outline-primary" href="{% url 'sendtooriginal' %}">send to number</a>
      </nav>
    </div>

  <main class="container">
    <!--this is the desktop view-->
    <div class="row align-items-md-stretch">

      {% if aliases %}
        {% for alias in aliases %}
          <div class="col-md-6 mb-4">
            <div class="h-100 p-3 rounded-3" style="background-color: firebrick">
              <h4>Alias <b>|</b> {{ alias.desired_alias }}</h4>
              <!--checking if there are any sent transaction on this alias-->
                {% if latest_sent %}
                {% for latest in latest_sent %}
                  {% if latest.sender == alias.desired_alias %}
                    <p fs-6>sent: <b>KSH. {{ latest.amount }}</b> to <b>{{latest.receiver}}</b> </p>
                {% endif %}
                {% endfor %}
                {% endif %}
              <!--end checking if there are any sent transaction on this alias-->

              <!--checking if there are any received transactions on this alias-->
              {% if latest_received %}
                {% for latest in latest_received %}
                  {% if latest.receiver == alias.desired_alias %}
                  <p fs-6>Received: <b>KSH. {{ latest.amount }}</b> From <b>{{latest.sender}}</b> </p>
                {% endif %}
                {% endfor %}
                {% endif %}
              <!--end checking if there are any received transactions on this alias-->
              <a class="btn btn-outline-light" href="{% url 'interact' alias.desired_alias %}">Interact</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-6 mb-4">
          <div class="h-100 p-3 text-bg-dark rounded-3">
            <h4>Alias <b>|</b> No Aliases Available</h4>
            <p>Create your first alias here or click on <b>create alias above</b></p>
            <a class="btn btn-outline-light" href="{% url 'createAliasForm' %}">Create</a>
          </div>
        </div>
      {% endif %}
    </div>
    <!--end desktop view-->

    <!--this is the phone view

    <div class="p-4 p-md-5 mt-3 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="d-flex">
            <div class="p-2 flex-fill"><button type="button" class="btn btn-primary">flex item</button></div>
            <div class="p-2 flex-fill"><button type="button" class="btn btn-primary">flex item</button></div>
            <div class="p-2 flex-fill"><button type="button" class="btn btn-primary">flex item</button></div>
        </div>
    </div>-->
    <!--end phone view-->
  </main>
  
  
  

{% endblock %}