{% extends "alias/layout.html" %}

{% block body %}

{% if message %}
    <div class="alert alert-info">
        <strong>Info!</strong> {{ message }}
    </div>
{% endif %}

<div class="card text-bg-dark mb-3 p-4 parent">
    <h2 class="card-header text-center">Login</h2>
    <div class="card-body center">
        <form class="mx-auto" action="{% url 'signin' %}" method="post">
            {% csrf_token %}

            <div class="mb-4">
                <label for="email">email</label>
                <input autofocus type="email" class="form-control" placeholder="example@domain.com" id="email" name="email">
            </div>

            <div class="mb-4">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="password" name="password">
            </div>

            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
    Don't have an alias account? <a href="{% url 'signup' %}">Register</a>
</div>


{% endblock %}
